<?xml version="1.0"?>
<robot name = "workbench" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="tecnobody" type="system">
        <hardware>
            <plugin>ethercat_driver/EthercatDriver</plugin>
            <param name="master_id">1</param>
            <param name="control_frequency">1000</param>
        </hardware>
        
        <sensor name="ft_sensor">
            <state_interface name="force.x"/>
            <state_interface name="force.y"/>
            <state_interface name="force.z"/>
            <state_interface name="torque.x"/>
            <state_interface name="torque.y"/>
            <state_interface name="torque.z"/>
            <state_interface name="Status_Code"/>
            <state_interface name="Sample_Counter"/>
            <command_interface name="Control_1"/>
            <param name="frame_id">ee_link</param>
            <ec_module name="AtiAxia90">
                <plugin>ethercat_generic_plugins/GenericEcSlave</plugin>
                <param name="alias">0</param>
                <param name="position">4</param>
                <param name="slave_config">$(find tecnobody_workbench)/config/axia90.yaml</param>
            </ec_module>
        </sensor>
    </ros2_control>
</robot>
