<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="tecnobody_ros2_control" params="use_gazebo">
    <xacro:if value="${use_gazebo}">
      <ros2_control name="TecnobodyRobot" type="system">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="joint_1">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort">
            <param name="min">-1000</param>
            <param name="max">1000</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">2.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
        <joint name="joint_2">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort">
            <param name="min">-1000</param>
            <param name="max">1000</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
        <joint name="joint_3">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort">
            <param name="min">-1000</param>
            <param name="max">1000</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </ros2_control>

      <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
          name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find tecnobody_workbench)/config/controllers.yaml</parameters>
          <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        </plugin>
      </gazebo>

    </xacro:if>

    <xacro:unless value="${use_gazebo}">
      <ros2_control name="TecnobodyRobot" type="system">
        <hardware>
          <plugin>ethercat_driver/EthercatDriver</plugin>
          <param name="master_id">0</param>
          <param name="control_frequency">1000</param>
        </hardware>
        <!-- TODO: Insert Ethercat-mode joints-->
      </ros2_control>
    </xacro:unless>

  </xacro:macro>
</robot>