<?xml version="1.0"?>
<robot name = "workbench" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="tecnobody" type="system">
        <hardware>
            <plugin>ethercat_driver/EthercatDriver</plugin>
            <param name="master_id">0</param>
            <param name="control_frequency">250</param>
        </hardware>

        <gpio name="PLC_node">
            <command_interface name="mode_of_operation"/>
            <command_interface name="power_cutoff"/>
            <command_interface name="sonar_teach"/>
            <command_interface name="s_output.4"/>
            <command_interface name="estop"/>
            <command_interface name="manual_mode"/>
            <command_interface name="force_sensors_pwr"/>
            <command_interface name="brake_disable"/>
            <state_interface name="s_msg"/>
            <state_interface name="s_input.0"/>
            <state_interface name="estop"/>
            <state_interface name="reset"/>
            <state_interface name="manual_switch_pressed"/>
            <state_interface name="s_input.5"/>
            <state_interface name="s_input.6"/>
            <state_interface name="s_input.7"/>
            <state_interface name="s_input.8"/>
            <ec_module name="sickPLC">
                <plugin>ethercat_generic_plugins/GenericEcSlave</plugin>
                <param name="alias">0</param>
                <param name="position">0</param>
                <param name="slave_config">$(find tecnobody_workbench)/config/sick_getc100.yaml</param>
            </ec_module>
        </gpio>
    </ros2_control>
</robot>
